/* COLORS
Navy: rgb(10, 23, 43);
Gold: # c49e6b
Light Pink: #dc8e8c
seafoam blue: #759f9d
light blue: #bcd7d7
muted navy: #39586d


/* RESET STYLES */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

section {
    padding: 120px 20px;
}


/* ======================*/
/* ==== LOADING PAGE ====*/
/* ======================*/
.loaded .loading {
    opacity: 0;
    visibility: hidden;
    filter: alpha(opacity=0);
}

.loading {
    /* transition: opacity .4s;
    -webkit-transition: opacity .4s; */

    transition: opacity 2s;
    -webkit-transition: opacity 2s;
}

.loading {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    background-color: rgb(10, 23, 43);
	display:table;
}

.loading div {
	display:table-cell;
	vertical-align: middle;
	margin:auto;
	width:100%;
	text-align:center;
}

.loading img {
	position:relative;
	height:300px;
	width:auto;
}

/* ======================*/
/* ====== CONSTANT ======*/
/* ======================*/

body {
	font-family: 'Cormorant Garamond', serif !important;
}

/* ======================*/
/* ===== NAVIGATION =====*/
/* ======================*/
.navBtn_container {
    position: fixed;
    top: 40px;
    right: 40px;
    height: 17px;
    width: 25px;
    cursor: pointer;
    z-index: 100;
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
}

.navBtn_container span {
    background: #bb7875;
    border: none;
    height: 2px;
    -moz-border-radius: 1px / 1px;
    -webkit-border-radius: 1px 1px;
    border-radius: 1px / 1px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
    cursor: pointer;
}

.navBtn_container.active .top {
    -webkit-transform: translateY(7px) translateX(0) rotate(45deg);
    -ms-transform: translateY(7px) translateX(0) rotate(45deg);
    transform: translateY(7px) translateX(0) rotate(45deg);
    background: #FFF;
    z-index: 3;
}

.navBtn_container.active .middle {
    opacity: 0;
    background: #FFF;
}

.navBtn_container.active .bottom {
    -webkit-transform: translateY(-7px) translateX(0) rotate(-45deg);
    -ms-transform: translateY(-7px) translateX(0) rotate(-45deg);
    transform: translateY(-7px) translateX(0) rotate(-45deg);
    background: #FFF;
    z-index: 3;
}

.navBtn_container span:nth-of-type(2) {
    top: 7px;
}

.navBtn_container span:nth-of-type(3) {
    top: 14px;
}

.overlay.open {
    opacity: .9;
    visibility: visible;
    height: 100%;
    z-index: 3;
}

.overlay {
    position: fixed;
    background:#bb7875;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .35s, visibility .35s, height .35s;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    z-index: 3;
}

.overlay nav {
    position: relative;
    height: 70%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 45px;
    text-align: center;
}

.hide {
    text-indent: -998em;
    height: 0px;
}

.hide {
    display: none!important;
}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
}

.overlay.open li {
    -webkit-animation: fadeInRight .5s ease forwards;
    animation: fadeInRight .5s ease forwards;
    -webkit-animation-delay: .35s;
    animation-delay: .35s;
}

.overlay ul li {
    display: block;
    height: 25%;
    height: calc(100% / 4);
    min-height: 50px;
    position: relative;
    opacity: 0;
}

.overlay ul li a {
    display: block;
    position: relative;
    color: #0a172b;
	text-decoration: none;
    transition:0.2s;
    font-weight:400;
}

.overlay ul li a:hover {
    color: #fff;
}

.overlay ul li a:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 0%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 3px;
    background: #FFF;
    -webkit-transition: .35s;
    transition: .35s;
}


/* ======================*/
/* ======= HEADER =======*/
/* ======================*/
.header {	
	text-align:center !important;
	color:#947b5c;
	height:100vh;
	width:100vw;
	background-color:rgb(10, 23, 43);
}

.header .logo-container {
	position: static;
	margin:0;
	text-align:left !important;
	padding:20px 0 0 20px;
    z-index: 100;
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
}

.logo-container img {
    height: 75px;
    width: 75px;
}

.header-name {
	position:relative;
	top:20%;
}

.header h1 {
	font-size:80px;
	margin:0;
	color:#fff;
	font-family: 'Cormorant Garamond', serif;
	font-weight:300;
	text-transform: uppercase;
}

.header h1 span,
.header h3 span {
    padding:0 20px;
}

.header h3 {
	font-size:40px;
	margin:0;
	font-family: 'Cormorant Garamond', serif;
	font-weight:400;
	color:#bb7875;
	text-transform: uppercase;
}

.nav-links {
	position:relative;
	top:35%;
    font-size:30px;
    margin:0 50px;
}

.nav-links a {
	text-decoration: none;
	text-transform: uppercase;
	font-weight:300;
    border:5px solid rgb(148, 123, 92);
    color:#fff;
	padding:12px 20px;
	overflow:hidden;
	position: relative;
	transition:0.2s;
}

.nav-links a:hover {
	color:#fff;
	border-color:rgb(187, 120, 117);
    box-shadow: 2px 2px 5px #000;
}

/* generated element for shine effect.
 * normal state is semi-transparent
 * white but with zero width. Set no
 * transition here for no mouse-leave
 * animations. Otherwise the effect
 * will play in reverse when your mouse
 * leaves the element
 */
.shimmer:after {
	content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    background-color: rgba(255,255,255,0.4);
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
	transition: none;
    
}
/* on hover we animate the width to
 * 100% and opacity to 0 so the element
 * grows and fades out 
 */
.shimmer:hover:after {
    width: 120%;
    background-color: rgba(255,255,255,0);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

/* ======================*/
/* ======= ABOUT ========*/
/* ======================*/

.about {
    background-image:url(../images/profile-chair-sand.png);
    background-size:cover;
    width:100%;
    height:100vh;
    background-repeat:no-repeat;
}

.about p {
    font-size:20px;
}

.about img {
    width:100%;
}

.about .hi {
    font-size:120px;
    font-weight:bold;
}

.about .intro-name {
    font-size:70px;
    font-weight:bold;
}

/* ======================*/
/* ======= SKILLS =======*/
/* ======================*/

/* ======================*/
/* ====== PROJECTS ======*/
/* ======================*/
.projects {
    background-color:#dc8e8c;
}


/* ======================*/
/* ======= CONTACT ======*/
/* ======================*/
.contact{
    text-align: center;
}

/* ======================*/
/* ======= FOOTER =======*/
/* ======================*/

footer {
    background-color:#0a172b;
    color:#947b5c;
    width:100%;
    padding:10px;
}

.footer-content {
    display:flex;
    justify-content:space-around;
}

.footer-col {
    align-self:center;
}

.footer-col ul {
    display:inline-flex;
}

footer li {
    padding:5px 10px;
}

footer li a {
    color:#947b5c;
    text-decoration:none;
    transition:color 0.1s;

}

footer li a:hover {
    color:#bb7875;
    text-decoration:none;
}
