/*Big tablets to 1200px: widths smaller than the 1140px row*/
@media only screen and (max-width:1200px){


}

/*Small tablets to big tablets: from 768px to 1023px*/
@media only screen and (max-width:1023px){

	body{
		font-size:18px;
	}

	section{
		padding:60px 0;
	}

	.profile-img{
		width:70%;
		margin-left:100px;
	}

	#blurb{
		line-height:230%;
		font-size:110%;
		padding-top:0px;
	}

}

/* ============MEDIA QUERIES 988PX============== */
@media (max-width: 988px) {
	#nav-title{
		font-size:900%;
	}

	#nav-title:hover{
		font-size:1000%;
	}

	.profile-img{
		width:70%;
		margin-left:80px;
	}

	#blurb{
		line-height:200%;
		font-size:120%;
		padding-top:0px;
	}

	#blurb h3{
		font-size:300%;
	}

	.app-image{
		height:230px;
		width:400px;
		margin: 20px auto;
	}

	.panel {
		width:400px;
		margin: 10px auto;
	}

	section h2{
		font-size:500%;
		margin-top:0px;
	}

	.parallax-break{ 
		height: 400px; 
	}

	.contact-panel{
		padding: 10px 15px 10px 20px;
		margin:10px auto 50px auto;
		max-width:220px;
	}

	.btn-foot{
		height:70px;
		width:70px;
		margin: 20px 0 20px 5px;
		margin: 20px 30%;
	}

}

/*Small phones to small tablets: from 481px to 767px*/
@media only screen and (max-width:767px){
	#nav-title{
		font-size:700%;
		top: 20%;
	}

	#nav-title:hover{
		font-size:800%;
	}

	.btn-head{
		font-size: 250%;
		top:520px;
	}

	.profile-img{
		width:60%;
		margin-left:20%;
	}

	#blurb{
		line-height:200%;
		font-size:130%;
		padding-top:0px;
		padding: 30px 30px 10px 40px;
	}

	#blurb h3{
		font-size:400%;
		text-align: center;
	}

	#bio{
		padding: 20px 30px 0px 40px;
		line-height:180%;
	}

	.app-image{
		height:300px;
		width:470px;
	}

	.panel {
		width:470px;
	}

	section h2{
		font-size:500%;
		margin-top:0px;
	}

	.parallax-break{ 
		height: 350px; 
	}

	.contact-panel{
		padding: 10px 15px 10px 20px;
		margin:10px auto 30px auto;
		max-width:300px;
	}

}

/* ============MEDIA QUERIES 576PX============== */
@media (max-width: 576px) {
	#nav-title{
		font-size:550%;
		top: 27%;
	}

	#nav-title:hover{
		font-size:600%;
	}

	.btn-head{
		font-size: 200%;
		top:400px;
	}

	.about-me{
		padding-top:70px;
	}

	#blurb h3{
		font-size:360%;
	}

	#blurb{
		line-height:200%;
		font-size:120%;
		padding-top:30px;
	}

	#bio{
		padding: 10px 30px 0px 30px;
		line-height:180%;
	}

	section h2{
		font-size:400%;
	}

	.contact-panel{
		padding: 10px 15px 10px 20px;
		margin:10px auto 20px auto;
		max-width:240px;
	}

	footer{
		height:100px;
	}

}

/*Small phones: from 0 to 481px */
@media only screen and (max-width:480px){
	.parallax-header { 
		background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../images/amalfi.jpg");
		background-attachment: scroll;
	}
	
	
	#nav-title{
		font-size:450%;
		top: 20%;
	}

	#nav-title:hover{
		font-size:500%;
	}

	.btn-head{
		font-size: 175%;
		top:360px;
	}

	#blurb h3{
		font-size:300%;
	}

	#blurb{
		line-height:180%;
		font-size:100%;
	}

	#bio{
		padding: 10px 30px 0px 30px;
		line-height:180%;
		font-size:100%;
	}

	.photo img{
		opacity:1;
		transform: scale(1);
	}

	section h2{
		font-size:370%;
		margin-top:0px;
	}

	.app-image{
		height:190px;
		width:360px;
	}

	.parallax-break{ 
		background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("../images/vesuvius.jpg");
		background-attachment: scroll;
	}

	.panel {
		width:410px;
	}

	.contact-panel{
		padding: 10px 10px 10px 10px;
		margin:8px auto 5px auto;
		max-width:170px;
		font-size:80%;
	}

	.btn-foot{
		height:50px;
		width:50px;
		margin: 10px 20%;
	}

	.parallax-break{ 
		height: 300px; 
	}

	footer{
		background-image:linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.0)), url("../images/sunset.jpg");
		height:70px;
		font-size:70%;
		background-position: center;
		background-attachment: scroll;
		text-shadow: 2px 2px 2px #000;
	}

}
