
@media only screen and (min-width:960px) and (max-width:1200px) {

	.parallax-header { 
		background-attachment: scroll;
		background-position: center;
		background-size: cover;
	}

	#nav-title{
		font-size:900%;
		top: 18%;
	}
	
	#nav-title:hover{ font-size:1000%; }

	.btn-head{
		top:550%;
	}

	.about-me{
		padding-top:70px;
	}

	.profile-img{
		width:70%;
		box-shadow: 8px 8px 8px #888888;
		margin-left:19%;
	}

	#blurb{
		line-height:190%;
		font-size:120%;
		padding-top:0px;
	}
	
	#blurb h3{
		font-size:300%;
	}

	.photo img{
		opacity:1;
	}

	.app-image{
		height:500px;
		width:730px;
		margin: 20px auto;
	}

	.panel {
		padding: 0 20px;
		width:730px;
		margin: 25px auto;
	}

	.panel h6 {
		font-size:330%;
	}

	.panel p {
		text-align:justify;
		font-size:120%;
	}

	.parallax-break{ 
		background-image:linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("../images/vesuvius.jpg");
		height: 400px; 
		background-attachment: scroll;
	}

	.contact-panel{
		padding: 0px 10px 10px 15px;
		margin:25px auto 70px auto;
		max-width:200px;
	}

	.btn-foot{
		height:70px;
		width:70px;
	}

	footer{
		background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("../images/sunset.jpg");
		background-attachment: scroll;
		height:80px;
		font-size:90%;
	}
}

@media only screen and (max-width:959px) {

	#nav-title{
		font-size:700%;
		top: 17%;
	}
	
	#nav-title:hover{ font-size:800%; }

	.btn-head{
		top:550%;
		font-size: 250%;
	}


	.profile-img{
		width:65%;
		box-shadow: 8px 8px 8px #888888;
		margin-left:18%;
	}

	#blurb{
		line-height:190%;
		font-size:150%;
		padding-top:30px;
		
	}
	
	#blurb h3{
		font-size:300%;
		text-align: center;
	}

	.photo img{
		opacity:1;
	}

	.app-image{
		height:300px;
		width:530px;
		margin: 20px auto;
	}

	.panel {
		padding: 0 20px;
		width:530px;
		margin: 25px auto;
	}

	.panel h6 {
		font-size:330%;
	}

	.panel p {
		text-align:justify;
		font-size:110%;
	}

	.parallax-break{ 
		background-image:linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("../images/vesuvius.jpg");
		height: 350px; 
		background-attachment: scroll;
	}

	section h2{
		font-size:500%;
		margin-top:10px;
	}

	.contact-panel{
		padding: 0px 15px 10px 20px;
		margin:25px auto 50px auto;
		max-width:290px;
	}

	.btn-foot{
		height:70px;
		width:70px;
		margin: 20px 37%;
	}

	footer{
		background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("../images/sunset.jpg");
		background-attachment: scroll;
		background-position: center;
		height:80px;
		font-size:80%;
	}

}

/*Small phones: from 0 to 481px */
@media only screen and (max-width:480px){
	.parallax-header { 
		background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../images/amalfi.jpg");
		background-attachment: scroll;
	}
	
	
	#nav-title{
		font-size:450%;
		top: 20%;
	}

	#nav-title:hover{
		font-size:500%;
	}

	.btn-head{
		font-size: 175%;
		top:360px;
	}

	#blurb h3{
		font-size:300%;
	}

	#blurb{
		line-height:180%;
		font-size:100%;
	}

	#bio{
		padding: 10px 30px 0px 30px;
		line-height:180%;
		font-size:100%;
	}

	.photo img{
		opacity:1;
		transform: scale(1);
	}

	section h2{
		font-size:370%;
		margin-top:0px;
	}

	.app-image{
		height:190px;
		width:360px;
	}

	.parallax-break{ 
		background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("../images/vesuvius.jpg");
		background-attachment: scroll;
	}

	.panel {
		width:410px;
	}

	.contact-panel{
		padding: 10px 10px 10px 10px;
		margin:8px auto 5px auto;
		max-width:170px;
		font-size:80%;
	}

	.btn-foot{
		height:50px;
		width:50px;
		margin: 10px 20%;
	}

	.parallax-break{ 
		height: 300px; 
	}

	footer{
		background-image:linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.0)), url("../images/sunset.jpg");
		height:70px;
		font-size:70%;
		background-position: center;
		background-attachment: scroll;
		text-shadow: 2px 2px 2px #000;
	}

}
