
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-weight:300;
}

*:focus{
	outline:none;
}

html {
	color: #555;
	font-size:20px;
	text-rendering: optimizeLegibility;
}

.container{
	overflow: hidden;
	min-width:100%;
	text-align:center;
}

.row{
	margin:0 auto;
	width:100%
}

body {
	font-size:20px;
}

section { padding: 30px; }

p { font-family: 'Lato', sans-serif; }

.line {
	display:block;
	height:2px;
	background-color: #e67e22;
	width:100px;
	margin: 0 auto 40px auto;
}

.clearfix {zoom: 1}
.clearfix:after {
	content: '.';
	clear:both;
	display:block;
	height:0;
	visibility:hidden;
}

.jumbotron {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size:cover;
  background-image:linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("../images/rxMinder.png");
  height:1000px;

}
