.container{
	padding:40px 0;
	    overflow: hidden;
	        margin: 0;
}

/* ==============HEADER================*/

.jumbotron{
	color:#fff;
	text-align:center;
	padding:0;
	margin:0;
}

.parallax-header { 
	background-image: url("../images/amalfi.jpg") !important; 
  height: 800px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#nav-title{
	font-size:140px;
	position:relative;
	top:300px;
}

.moving-zone {
    margin: -60px 0 0 -150px;
    perspective: 800px;
}
.popup {
    cursor: pointer;
    transform-style: preserve-3d;
}
.popup:before {
    content: '';
    background: rgba(0,0,0,.1);
    box-shadow: 0 0 40px 20px rgba(0,0,0,.1);
    transform: translateZ(-100px);
}

.popup-text {
    font-family: 'Roboto', sans-serif;
    transform: translateZ(15px);
}
.popup-text{
  color: coral;
  font-size:40px;
	position:relative;
}

#nav-title span {   
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.5);
   padding:30px;
}

#nav-links li{
	font-size:40px;
	position:relative;
	top:500px;
}

/* ===============Start Body ================*/

.section{
	padding:50px;
}

#profile-img{
	border-radius:50%;
	height:320px;
	width:320px;
	box-shadow: 5px 5px 5px #888888;
}

section h3{
	font-size:50px;
}

section p{
	font-size:20px;
}

.card{
	display:inline-block;
	border:none;
	margin: 0 30px;
}

.card-img-top{
	border-radius:50%;
}

/*=============CONTACT SECTION PARALLAX=============*/

.parallax-contact{ 
  background-image: url("../images/profile.jpg");
  height: 350px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-section{
	padding:100px;
}

.contact-section h3{
	font-size:60px;
	padding-bottom:40px;
}

.contact-btns{
	font size:20px;
	list-style-type: none;
	display:inline;
	padding:50px;
}

/*================FOOTER================*/

footer{
	padding:15px 40px;
	border-top:1px solid;
}

.github-btn{
	background-image: url("../images/github.png");
	border-radius:50%;
	height:60px;
	width:60px;
	background-size: cover;
	cursor:pointer;
}

.linkedin-btn{
	background-image: url("../images/linkedin.png");
	border-radius:50%;
	height:60px;
	width:60px;
	background-size: cover;
	cursor:pointer;
}

.email-btn{
	background-image: url("../images/email.png");
	border-radius:50%;
	height:60px;
	width:60px;
	background-size: cover;
	cursor:pointer;
}

.instagram-btn{
	background-image: url("../images/instagram.png");
	border-radius:50%;
	height:60px;
	width:60px;
	background-size: cover;
	cursor:pointer;
}
