.container{
	padding:40px 0;
}

/* ==============HEADER================*/

.jumbotron{
	color:#fff;
	text-align:center;
	padding:0;
	margin:0;
}

.parallax-header { 
	background-image: url("../images/amalfi.jpg") !important; 
  height: 800px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#nav-title{
	font-size:140px;
	position:relative;
	top:300px;
}

#nav-links li{
	font-size:40px;
	position:relative;
	top:500px;
}

/* ===============Start Body ================*/

.section{
	padding:50px;
}

#profile-img{
	border-radius:50%;
	height:320px;
	width:320px;
}

section h3{
	font-size:50px;
}

section p{
	font-size:20px;
}

.card{
	display:inline-block;
	border:none;
	margin: 0 30px;
}

.card-img-top{
	border-radius:50%;
}

/*=============CONTACT SECTION PARALLAX=============*/

.parallax-contact{ 
  background-image: url("../images/profile.jpg");
  height: 350px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-section{
	padding:100px;
}

.contact-section h3{
	font-size:60px;
}

.contact-btns{
	font size:20px;
	list-style-type: none;
	display:inline;
}

/*================FOOTER================*/

footer{
	padding:30px 0;
	border-top:1px solid;
}

.github-btn{
	background-image: url("../images/github.png");
	border-radius:50%;
	height:60px;
	width:60px;
	  background-size: cover;
}

.linkedin-btn{
		background-image: url("../images/linkedin.png");
	border-radius:50%;
	height:60px;
	width:60px;
	  background-size: cover;
}