
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-weight:300;
}

html {
	color: #555;
	font-size:20px;
	text-rendering: optimizeLegibility;
}

.container{
	overflow: hidden;
	min-width:100%;
	text-align:center;
}

.row{
	margin:0 auto;
	width:100%
}

section{ padding: 30px; }

p { font-family: 'Lato', sans-serif; }

.line {
	display:block;
	height:2px;
	background-color: #e67e22;
	width:100px;
	margin: 0 auto 40px auto;
}

.clearfix {zoom: 1}
.clearfix:after {
	content: '.';
	clear:both;
	display:block;
	height:0;
	visibility:hidden;
}

/*---------------------------------*/
/* HEADER -- parallax */
/*---------------------------------*/

.jumbotron{
	color:#fff;
	text-align:center;
	padding:0;
	margin:0;
	font-family: 'Dancing Script', cursive; 
}

.parallax-header { 
	background-image:linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("../images/amalfi.jpg");
  height: 100vh; 
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#nav-title{
	font-size:1000%;
	position:relative;
	top: 20%;
	color: #F2784B;
	transition: font-size 0.4s;
	font-family: 'Dancing Script', cursive; 
	text-shadow: 2px 2px 2px rgb(44, 44, 44);
}

#nav-title:hover{ font-size:1100%; }

.btn-head{
  font-size: 300%;
  position:relative;
	top:600%;
	transition: color 0.2s;
	text-shadow: 1px 1px 1px rgb(41, 41, 41);
}

.btn-head:hover{
	color:#F2784B !important;
}

.btn-head:after,
.btn-head:before {
  backface-visibility: hidden;
  border: 1px solid #f7f7f7;
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-head:hover:after,
.btn-head:hover:before {
  backface-visibility: hidden;
  border-color: #f7f7f7;
  transition: width 350ms ease-in-out;
  width: 90%;
}

.btn-head li a:focus,
.btn-head li a:visited {
	outline:none !important;
}

.btn-head:hover:before {
  bottom: auto;
  top: 0;
  width: 90%;
}

#mid-btn{
	margin: 0 50px;
}

/*----------------------------*/
/* STICKY NAV */
/*----------------------------*/

.sticky{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	background-color:#1f395a;
	box-shadow:0 2px 2px #525151;
	z-index: 9999;
}

.sticky .nav li a:link,
.sticky .nav li a:visited{
	padding:10px 0;
	color:#fff;
	top: 0px;
	font-size:140%;
	outline:none !important;
}

/*----------------------------*/
/* ABOUT ME*/
/*----------------------------*/

.about-me{
	padding-top:100px;
}

.profile-img{
	border-radius:50%;
	height:auto;
	width:60%;
	box-shadow: 8px 8px 8px #888888;
	margin-left:22%;
}

.js-wp1{
opacity:0;
-webkit-animation-duration: 1s;
}

.js-wp1.animated{
	opacity:1;
}

#blurb{
	line-height:250%;
	font-size:120%;
	padding-top:30px;
	text-align: justify;
}

#blurb h3{
	font-size:400%;
	font-family: 'Dancing Script', cursive, serif; 
	color: #F2784B;
}

#bio {
	padding:30px 20px;
	line-height:200%;
	font-size:130%;
	text-align: justify;
}

.bio-line { margin: 25px 47%; }

/*----------------------------*/
/* PHOTOS */
/*----------------------------*/
.photos{
	padding:0;
}

.photos-list{
	list-style: none;
	width: 100%;
	margin:0;
}

.photos-list li{
	display:block;
	float: left;
	width: 25%;
	height:auto;
}

.photo{
	width:100%;
	margin:0;
	overflow:hidden;
	background-color:black;
}

.photo img{
	opacity:0.7;
	width:100%;
	transform: scale(1.15);
	transition: transform 0.5s, opacity 0.3s;
}

.photo img:hover{
	opacity:1;
	transform: scale(1.03);
}

/*----------------------------*/
/* FEATURED WORK */
/*----------------------------*/

.app-image{
	height:300px;
	width:500px;
	border:1px solid #ccc;
	transition: box-shadow 0.5s;
	margin: 20px auto;
	padding: 0;
	background-position: center;
	background-size: cover;
	text-align:center;
	border-radius:5px;
}

.app-image:hover {
	box-shadow:4px 4px 3px 3px #777676;
	cursor: pointer
}

.rxMinder {
	background-image: url("../images/rxMinder.png");
}

.dinner-show {
	background-image: url("../images/dinner&show.png");
}

.friend-forum {
	background-image: url("../images/forum.png");
}

.trivia {
	background-image: url("../images/trivia.png");
}

.panel {
	display: none;
	padding: 0 20px;
	width:500px;
	margin: 25px auto;
}

.panel h6 {
	color: #e67e22;
	font-size:270%;
	font-family: 'Dancing Script', cursive;
	text-align:center;
	text-shadow: 1px 1px 1px rgb(223, 222, 222);
}

.panel p {
	text-align:justify;
}

.app-btn{
	background-color:#e67e22;
	border:1px solid transparent;
	padding:5px 15px;
	border-radius:200px;
}

.app-btn:hover,
.app-btn:active{
	background-color:#fff;
	border:1px solid #e67e22;
	color: #e67e22;

}

section h2{
	font-size:550%;
	text-align:center;
	margin-top:20px;
	font-family: 'Dancing Script', cursive; 
	color: #27466e;
	text-shadow: 1px 1px 1px rgb(223, 222, 222);
}

/*=============CONTACT SECTION=============*/

.parallax-break{ 
  background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../images/vesuvius.jpg");
  height: 450px; 
  background-attachment: fixed;
  background-position: center;
	background-size: cover;
	margin-top:30px
}

.contact{
	background-color:#f7f7f7;
}

.contact-panel{
	text-decoration: none;
	padding: 0px 25px 10px 30px;
	background-color:#fff;
	margin:25px auto 70px auto;
	max-width:300px;
	box-shadow:0 2px 2px #ccc;
	text-align:justify;	
}

.contact-panel a {
	text-decoration:none;
}

.contact-panel span{
	transition:color 0.1s;
	
}

.contact-panel span:hover{
	color:#e67e22;
	text-decoration:none;
}

.btn-foot{
	height:80px;
	width:80px;
	border-radius:50%;
	cursor:pointer;
	background-size: cover;
	margin: 20px 30%;
	transition: box-shadow 0.2s;
}

.btn-foot:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

.github-btn{
	background-image: url("../images/github.png");
}

.linkedin-btn{
	background-image: url("../images/linkedin.png");
}

.email-btn{
	background-image: url("../images/email.png");
}

.instagram-btn{
	background-image: url("../images/instagram.png");
}

/*================FOOTER================*/

footer{
	background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../images/sunset.jpg");
	background-attachment: fixed;
  background-position: center-bottom;
  background-size: cover;
	color:white;
  border: 0px solid;
	box-shadow: 8px 0 5px 0 rgba(0, 0, 0, 0.1), 8px 0 20px 0 rgba(0, 0, 0, 0.1);
	height:100px;
	text-shadow: 2px 2px 2px #000;
}

footer p{
	margin:0 auto;
}
