/* COLORS
Red:#C63943 */


/* RESET STYLES */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

p {
    color:#fff;
}

h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.overlay { 
    background-color:rgba(0, 0, 0, 0.7);
    padding: 60px;
    height:80%;
    margin:80px;
    width:90%;
    display:table;
}

/* ======================= */
/* ====== LOADING ======= */
/* ======================= */

.loaded .loading {
    opacity: 0;
    visibility: hidden;
    filter: alpha(opacity=0);
}

.loading {
    transition: opacity .4s;
    -webkit-transition: opacity .4s;
}

.loading {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    background-color: #0c0c0c;
    display:table;
}

.loading h1 {
    font-size:150px;
    color:rgb(200,10,198);
    text-align:center;
    display:table-cell;
    vertical-align:middle;
}


/* ======================= */
/* ========== NAV ======== */
/* ======================= */
.panel-active-0 .header {
    background-color: rgba(0,0,0,0.19);
}

.header-expanded .header {
    background-color: rgba(0,0,0,0.19);
}

.header {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 52px;
    background-color: rgba(0,0,0,0);
}

.panel-active-0 .logo {
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}

.logo {
    -webkit-transform: translate(-250px,0);
    -moz-transform: translate(-250px,0);
    -ms-transform: translate(-250px,0);
    -o-transform: translate(-250px,0);
    transform: translate(-250px,0);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    -ms-transition: -ms-transform 0.3s;
    -o-transition: -o-transform 0.3s;
    transition: transform 0.3s;
}

.logo {
    background: url(../images/scroll-arrow.png) no-repeat 0 0;
    width: 214px;
    height: 44px;
    position: absolute;
    left: 15px;
    top: 14px;
    font-size: 18px;
    line-height: 40px;
    color: #e0e0e0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.header-expanded .nav-toggle .ico-menu {
    -webkit-transform: rotate(450deg);
    -moz-transform: rotate(450deg);
    -ms-transform: rotate(450deg);
    -o-transform: rotate(450deg);
    transform: rotate(450deg);
}

.header-expanded .logo, .header-expanded .nav {
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}

.nav-toggle {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.nav-toggle {
    width: 84px;
    height: 72px;
    background: rgba(0,0,0,0.19);
    position: absolute;
    right: 0;
    top: 0;
}

.notext {
    font-size: 0;
    line-height: 0;
    text-indent: -4000px;
}

.nav-toggle .ico-menu {
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    -ms-transition: -ms-transform 0.3s;
    -o-transition: -o-transform 0.3s;
    transition: transform 0.3s;
}

.nav-toggle .ico-menu {
    position: absolute;
    width: 26px;
    height: 26px;
    background: url(../images/ico-menu.png) no-repeat 0 0;
    left: 29px;
    top: 23px;
}

.ico-menu {
    width: 26px;
    height: 26px;
    display: inline-block;
    background: url(../images/ico-menu.png) no-repeat 0 0;
}

.nav {
    -webkit-transform: translate(800px,0);
    -moz-transform: translate(800px,0);
    -ms-transform: translate(800px,0);
    -o-transform: translate(800px,0);
    transform: translate(800px,0);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    -ms-transition: -ms-transform 0.3s;
    -o-transition: -o-transform 0.3s;
    transition: transform 0.3s;
}

.nav {
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    right: 100px;
    top: 19px;
    font-family: 'eurostile', sans-serif;
}

.nav ul, .process ul, .testimonials ul, .authors ul {
    list-style: none outside none;
}

.nav li {
    float: left;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.nav a {
    color: #fff;
    text-decoration: none;
    padding: 9px 16px;
    display: block;
}

.nav .divider-mobile {
    display: none;
    height: 1px;
    background-color: #5e1140;
}

.nav .btn-social {
    font-size: 20px;
}

a [class^="icon-"], a [class*=" icon-"] {
    display: inline;
}

[class^="icon-"], [class*=" icon-"] {
    display: inline;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    margin-top: 0;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
}

.nav .btn-text-mobile {
    display: none;
}

.cf:after, .clearfix:after {
    content: '';
    display: table;
    clear: both;
}


/* ======================= */
/* ======== DEFAULT ======= */
/* ======================= */

.panel {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    background: #fff;
    overflow: hidden;
}

.panel-center {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    left: 0;
    top: 0;
    text-align: center;
}

.panel .fullscreen {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
}

.fsr-container {
    overflow: hidden;
    background-position:100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.panel .fullscreen:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
}

.panel-center .shell {
    height: 100%;
    display: table;
    vertical-align: middle;
    pointer-events: none;
}

.shell {
    width: 960px;
    margin: 0 auto;
}

.panel-center-inner {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    position: relative;
    z-index: 2;
}

.panel-center h1 {
    font-family: "bebas-neue";
    font-size: 140px;
    line-height: 128px;
    font-weight: normal;
    color: rgb(200,10,198);
    padding-bottom: 40px;
}

.loaded .panel-center p, .loaded .panel-center h1 {
    opacity: .9;
    filter: alpha(opacity=90);
}

.panel-center h1, .panel-center h3, .panel-center p {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 3s;
    -moz-transition: opacity 3s;
    -ms-transition: opacity 3s;
    -o-transition: opacity 3s;
    transition: opacity 3s;
}

.loaded .panel-center h3 {
    opacity: .9;
    filter: alpha(opacity=90);
}

.panel-center h3 {
    font-size: 48px;
    line-height: 60px;
    font-family: 'eurostile_demi',sans-serif;
    color: #fff;
    font-weight: normal;
    word-spacing: -5px;
    padding-bottom: 20px;
}

.loaded .panel-center p, .loaded .panel-center h1 {
    opacity: .98;
    filter: alpha(opacity=98);
}

.panel-center p {
    font-size: 17px;
    line-height: 34px;
    color: #fff;
    font-family: 'eurostile', sans-serif;
    padding-bottom: 14px;
}

.scroll-arrow-link {
    cursor:pointer;
}

 .navigate {
    width: 300px;
    height: 200px;
    position: absolute;
    left: 37%;
    z-index: 3;
    background: url(../images/scroll-arrow.png) no-repeat 0 0;
}

/* ======================= */
/* ====== ABOUT ========= */
/* ======================= */

.about {
    background:url(../images/hero-image-no-color.jpg) no-repeat;
}

.about .overlay{
        height:100vh;
        width:100vw;
        margin:0;
        padding:0 80px;
}


.panel-about img {
    height:300px; 
    width:auto;
    position:relative;
    z-index:2;
}

.panel-about .photo-background {
    width:300px;
    height:300px;
    background-color:#d31a6e;
    position:relative;
    top:-330px;
    left:50px;
}

.personal-description {
    text-align:justify;
    margin-top:100px;
}

.image-col {
    height:350px;
    padding:80px 0px 0px 100px; 
}

.personal-description h2{
    color:#d31a6e
}


/* ======================= */
/* ====== SKILLS ========= */
/* ======================= */

.section{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #212121;
    left: 0;
    top: 0;
    margin:0;
    padding:0;
}

.section .panel-head {
    text-align: center;
    background-color: hsl(0, 0%, 15%);
}

.panel-head {
    position: absolute;
    height: 20%;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.panel-head .shell {
    display: table;
    height: 100%;
    vertical-align: middle;
}

.panel-head-inner {
    -webkit-transition: padding-top 0.3s;
    -moz-transition: padding-top 0.3s;
    -ms-transition: padding-top 0.3s;
    -o-transition: padding-top 0.3s;
    transition: padding-top 0.3s;
}

.panel-head-inner {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.section .panel-head h2 {
    color: #d31a6e;
}

.panel-head h2 {
    font-family: 'eurostile', sans-serif;
    font-weight: normal;
    font-size: 34px;
}
h2 {
    font-size: 35px;
    line-height: 40px;
    font-weight: 400;
}

.panel-head p {
    font-size: 16px;
    color: #fff;
}



.service {
    position: absolute;
    height: 80%;
    top: 20%;
    left: 50%;
    width: 290px;
    padding: 0 60px;
    text-align: center;
    color: #fff;
}

.service-first {
    margin-left: -615px;
}

.service-third .service-img, .service-first .service-img {
    margin-top: 40px;
}

.service-img {
    display: block;
    margin: 64px auto 44px;
}

img {
    vertical-align: middle;
    border: 0 none;
    -ms-interpolation-mode: bicubic;
}

.service-second {
    margin-left: -205px;
    background-color: #191919;
}

.service-third {
    margin-left: 205px;
}

.service-third .service-img, .service-first .service-img {
    margin-top: 40px;
}

.service p strong {
    font-weight: normal;
    font-family: 'eurostile_demi', sans-serif;
    color: #3ac8c0;
}



@media only screen and (max-height: 890px) {
    .service p {
        font-size: 14px;
        line-height: 19px;
    }

    .service h2 {
        font-size: 26px;
        padding-bottom: 15px;
    }

    .service-third .service-img {
        width: 115px;
    }
}

/* ======================= */
/* ====== PROJECTS ======= */
/* ======================= */

.panel-testimonials .caroufredsel_wrapper {
    height: 100% !important;
}

.tst-next {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    background: #3ac8c0 url(../images/scroll-arrow.png) no-repeat center center;
    width: 84px;
    z-index: 2;
}

.tst-slide {
    float: left;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.tst-image {
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
}

img {
    vertical-align: middle;
    border: 0 none;
    -ms-interpolation-mode: bicubic;
}

.tst-entry {
    width: 40%;
    position: absolute;
    left: 50%;
    top: 130px;
}

.tst-entry p {
    font-size: 25px;
    line-height: 42px;
    font-family: 'eurostile', sans-serif;
    color: #3e3e3e;
    padding-bottom: 30px;
}

.tst-entry p.author {
    font-size: 31px;
    font-family: 'eurostile_demi', sans-serif;
}


/* ======================= */
/* ====== PROJECTS ======= */
/* ======================= */
.member-image {
    width: 450px;
    height: 300px;
    overflow: hidden;
    background: rgb(62,36,87);
    box-shadow: 0 0 0 7px rgba(62,36,87,.33);
    position: absolute;
    top: 60%;
    left: 50%;
    margin: -250px 0 0 -250px;
}

.member-image img {
    width: 450px;
    height: 300px;
    position: absolute;
    left: 0;
    top: 0;
}


img {
    vertical-align: middle;
    border: 0 none;
    -ms-interpolation-mode: bicubic;
}

.panel {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    background: #fff;
    overflow: hidden;
}

.team:before {
    position: absolute;
    width: 25%;
    left: 25%;
    top: 50%;
    margin-left: -100px;
    content: "";
    height: 1px;
    background-color: rgba(229,150,240,0.3);
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}

.team {
    height: 100%;
}

.team:after {
    position: absolute;
    height: 80%;
    left: 50%;
    top: 10%;
    margin-left: -100px;
    width: 1px;
    background-color: rgba(229,150,240,0.3);
    box-shadow: 10px 0 10px rgba(0,0,0,0.1);
    content: '';
}

.member-right, .member-left {
    position: absolute;
    height: 100%;
    width: 520px;
    margin-left: -620px;
    top: 0;
    left: 50%;
}

.member-right {
    margin-left: 0;
    height: 400%;
    width: 720px;
    margin-left: -100px;
}

.member-entry {
    /* color: #fff; */
    display: table;
    height: 25%;
    vertical-align: middle;
    text-align: center;
    width: 550px;
    margin: 0 auto;
}

.member-entry-inner {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.member-entry h2 {
    font-size: 47px;
    line-height: 53px;
    font-weight: normal;
    padding-bottom: 20px;
}

.member-entry h2 span {
    display: block;
    font-weight: 100;
}

.member-entry p {
    font-size: 20px;
    line-height: 33px;
    padding-bottom: 33px;
    font-family: 'eurostile', sans-serif;
}

/* ======================= */
/* ====== CONTACT ======= */
/* ======================= */
